.left-card{
    width: 35%;
    height: 100vh;
    margin: 0 auto;
}
.up-left{
    background-image: url("mount.jpg");
    background-position: top;
    background-size: 193%;
    background-repeat: no-repeat;
    height: 55vh;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
h1, h2, h3, h4{
    text-align: center;
}
h1{
    font-family: 'Playfair Display', serif; 
    font-size: 50px;
    font-weight: 400;
    margin: 0;
}
h1::before{
    content: "";
    display: block;
    position: relative;
    left: 29%;
    top: 42px;
    border-bottom: 1px black solid;
    width: 5%;
    padding: 10px;
}
h2{
    font-weight: 500;
    font-family: 'Antic Didone', serif;
    margin:0;
}
a{
    text-decoration:none;
    color: #000;
}
h3{
    color: #ccc;
    font-family: 'Playfair Display', serif;
}
h4{
    margin: 0;
    font-family: 'Antic Didone', serif;
}
h4::after{
    content: "";
    display: block;
    position: relative;
    left: 42%;
    border-bottom: 1px black solid;
    width: 6%;
    padding: 10px;
}
h5{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 5px;
}
.down-left{
    display: flex;
    height: 45vh;
}
.left-down{
    width: 50%;
}
.right-down{
    background-image: url("mount.jpg");
    background-position: center;
    background-size: cover;
    width: 50%;
}
.just-img{
    background-image: url("mount.jpg");
    background-position: center;
    background-size: cover;
    height: 20vh;
}
.text{
    margin-top: 50px;
}