.left-card{
    width: 35%;
    height: 80vh;
    margin: 0 auto;
}
.up-left{
    background-image: url("mount.jpg");
    background-position: center;
    background-size: cover;
    height: 50vh;
}
.nav{
    display: flex;
    justify-content: space-between;
}
h5{
    font-size: 20px;
    font-weight: 600;
}
h3{
    color: #ccc;
}
.down-left{
    display: flex;
}
.left-down{
    width: 50%;
}
.right-down{
    background-image: url("mount.jpg");
    background-position: center;
    background-size: cover;
    width: 50%;
}