.container{
    width: 35%;
    height :100vh;
    margin: 0 auto;
    box-shadow: 5px 5px 10px 9px #dbd4d4;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.up-right{
    background-image: url("mount.jpg");
    background-position: bottom;
    background-size: cover;
    height: 40vh;
}
.right-down{
    background-color: white;
    width: 75%;
    height: 60vh;
    margin: 0 auto;
    margin-top: -40px;
    padding: 20px 20px 22px 20px;
}
h1{
    font-size: 30px;
    margin:10px 0 0 0;
    font-family: 'Playfair Display', serif; 
    font-size: 40px;
    font-weight: 400;
}
h1::after{
    content: "–"; 
    margin-left: 10px;
}
.right-h2{
    color: #ccc;
    margin-top: 5px;
    font-weight: 700;
    font-family: 'Antic Didone', serif;
}
h5{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 5px;
}
h6{
    color: rgb(177, 170, 170);
    margin-bottom: 2px;
}
p{
    color: rgb(177, 170, 170);
    font-size: 12px;
    text-align: justify;
    margin-bottom: 20px;
}
span{
    font-size: 10px;
    color: rgb(177, 170, 170);
    position: relative;
    left: 370px;
 }