.container{
    width: 35%;
    height: 100vh;
    margin: 0 auto;
    box-shadow: 5px 5px 10px 8px #dbd4d4;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.up-left{
    background-image: url("mountain.jpg");
    background-position: top;
    background-size: 193%;
    background-repeat: no-repeat;
    height: 55vh;
}
.up-right{
    background-image: url("mountain.jpg");
    background-position: bottom;
    background-size: cover;
    height: 40vh;
}
.right-down{
    background-color: white;
    width: 75%;
    height: 60vh;
    margin: 0 auto;
    margin-top: -40px;
    padding: 20px 20px 22px 20px;
}
.left-h1, h2, h3, h4{
    text-align: center;
}
.left-h1{
    font-family: 'Playfair Display', serif; 
    font-size: 50px;
    font-weight: 400;
    margin: 0;
}
.left-h1::before{
    content: "";
    display: block;
    position: relative;
    left: 29%;
    top: 42px;
    border-bottom: 1px black solid;
    width: 5%;
    padding: 10px;
}
.right-h1{
    font-size: 30px;
    margin:10px 0 0 0;
    font-family: 'Playfair Display', serif; 
    font-size: 40px;
    font-weight: 400;
}
.right-h1::after{
    content: "–"; 
    margin-left: 10px;
}
h2{
    font-weight: 500;
    font-family: 'Antic Didone', serif;
    margin:0;
}
.right-h2{
    color: #ccc;
    margin-top: 5px;
    font-weight: 700;
    font-family: 'Antic Didone', serif;
}
a{
    text-decoration:none;
    color: #000;
}
h3{
    color: #ccc;
    font-family: 'Playfair Display', serif;
}
h4{
    margin: 0;
    font-family: 'Antic Didone', serif;
}
h4::after{
    content: "";
    display: block;
    position: relative;
    left: 42%;
    border-bottom: 1px black solid;
    width: 6%;
    padding: 10px;
}
h5{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 5px;
}
h6{
    color: rgb(177, 170, 170);
    margin-bottom: 2px;
}
p{
    color: rgb(177, 170, 170);
    font-size: 12px;
    text-align: justify;
    margin-bottom: 20px;
}
span{
    font-size: 10px;
    color: rgb(177, 170, 170);
    position: relative;
    left: 370px;
 }
.down-left{
    display: flex;
    height: 45vh;
}
.left-down{
    width: 50%;
}
.right-downn{
    background-image: url("mountain.jpg");
    background-position: center;
    background-size: cover;
    width: 50%;
}
.just-img{
    background-image: url("mountain.jpg");
    background-position: center;
    background-size: cover;
    height: 20vh;
}
.text{
    margin-top: 50px;
}